@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: rgb(72,40,140);
    background: linear-gradient(135deg, rgba(36,20,70,255) 0%, rgba(65,38,22,255) 100%);
    background-attachment: fixed;
    color: #cfd2d4;
    background-repeat:no-repeat;
  }

  #mainFont {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #cfd2d4;
  }