body {
  background: rgb(72,40,140);
  background: linear-gradient(135deg, rgba(36,20,70,255) 0%, rgba(65,38,22,255) 100%);
  background-attachment: fixed;
  color: #fff;
  background-repeat:no-repeat;
}

#searchbar {
  text-align: center;
}

.form__input {
  position:absolute;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  background-color: #000000;
  text-align: center;
  left: 50%;
  color: #fff
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  text-align: center;
  align-self: center;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#footer {
  position: fixed;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  height:0px;
  background-color: #202124;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#mainFont {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
}

.fa {
  font-size: 24px;
  color: #fff;
}

.fa:hover {
  color: #aaa;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#topRight {
  position: fixed;
  top: 0;
  right:0;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  color: #fff;
  font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#topLeft {
  position: fixed;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #fff;
  font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#bottomLeft {
  position: fixed;
  bottom: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #fff;
  font-size: 14px;
}